[2022-08-02 23:56] JamesMBartlett commented on #3202
Created 2 PRs (#3260, #3261) to support this use case. The first adds the `sdk_version` build flag. The second adds `go_cross`, using the added `sdk_version` flag to transition on sdk version.

[2022-08-03 07:36] kmicklas commented on #3202
Thanks @JamesMBartlett! You beat me to it.

[2022-08-03 20:02] diceride commented on #2972
This is an ongoing nuance that has never been resolved.

[2022-08-03 20:03] diceride commented on #2972
This is an ongoing annoyance that has never been resolved.

[2022-08-03 20:12] noahdietz commented on #2845
Hey there folks (cc @achew22) so we over at google-cloud-go/go-genproto are going to be moving much (but not all) of the protobuf/gRPC generated code from go-genproto into google-cloud-go. We will be doing this in a backwards compatible way, first generating/releasing the types in google-cloud-go, then type-aliasing the "old" types in go-genproto to the "new" types defined in google-cloud-go, and

[2022-08-03 20:21] noahdietz commented on #3235
@achew22 I must correct myself, it isn't a Go-ism, but really a protobuf-go idea.

[2022-08-03 22:44] achew22 commented on #2845
@noahdietz thanks for following up on this! Do you have any PRs or even docs that stand as an example of what the end state would look like? It would be helpful for understanding what to expect.

[2022-08-03 23:26] noahdietz commented on #2845
I haven't made a PR for this yet, no. For this repo it will mean the removal of [this dependency](https://github.com/bazelbuild/rules_go/blob/efc3212592320c1ab7f986c9a7882770ee06ad3b/go/private/repositories.bzl#L219-L239), associated patch files, and various bits of documentation (see relevant [item in table](https://github.com/bazelbuild/rules_go/blob/master/go/dependencies.rst#go_rules_dependenc

[2022-08-05 04:59] achew22 commented on #3235
@noahdietz, given that it is a protobuf-go specific concept, I think adding it into rules_go is probably not the right move. I guess we could work on Gazelle to make it possible to parse the `path;package` syntax if it is completely necessary what do you think about that?

[2022-08-05 05:33] achew22 commented on #2845
One of the holy grail issues of this project is getting the chance to delete these lines of code right here:

https://github.com/bazelbuild/bazel-gazelle/blob/f46349dc1444316605a8cee1a6a8805f161535e2/language/proto/known_go_imports.go?q=googleapis#L21-L423

Those exist because in ye olden days of `rules_go` there were a lot of difficulties around getting `go_proto_library`. I don't remember enough

[2022-08-05 06:42] fmeum commented on #2845
That sounds correct. We may have to add the repository under both the old and the new name for the transitionary period.

[2022-08-05 13:36] codyoss commented on #3235
I think the important bit here is that there is a way to overwrite the import *and* package. Exposing a package override as a separate attribute would be fine too, but the `path;package` convention does seem convenient since there is a precedence for this formatting style the in ecosystem already.

[2022-08-05 15:26] noahdietz commented on #2845
Let me first say: I'm not all that experienced in the inner workings of this project, nor gazelle, I've only looked through the plumbing in the context of these few issues relating to googleapis<->rules_go<->go-genproto. That said...

`go_googleapis` is actually the rules_go (re)distribution of com_google_googleapis (github.com/googleapis/googleapis) with all of the BUILD.bazel files in googleapis

[2022-08-07 01:50] achew22 commented on #3235
Maybe I'm confused here, but when I think of the `package`, I think of the thing that comes at the top of a `.go` file and looks like:

[code]

Are we talking about the same thing?

[2022-08-08 13:56] codyoss commented on #3235
We are indeed. In Go it is completely valid to have an import-path of `example.com/something/foo` and in that directory have `package bar`. A great example of this is anytime there is a v2 module.

`example.com/sothing/foobar/v2` could have a actual package name of `foobar`.

[2022-08-08 16:17] achew22 commented on #3235
From an admittedly cursory reading of the code, I don't believe `package` is a part of the build graph. I don't think there is even a way for rules_go to change the package name without running `sed -i s/package foo/package bar/`. It doesn't appear to be a part of the linker options. I think the only way to set the package is to change the `package foo` header that's emitted in the `.go` source fi

[2022-08-08 21:13] noahdietz commented on #3235
Ok, so this is specific to `go_proto_library` in that it _generates_ the Go code (and thus the `go_library`) that projects depend on. `go_library` and how `importpath` or `package` factors into that is out of scope of this issue. Sorry for the confusion. Let me lay it all out (even if you already know much of this) just to be explicit.

So with the protobuf compiler, protoc, and the protobuf-go co

[2022-08-09 15:11] ntnj opened #3265 "go_proto_library target doesn't work with blaze modules"
### What version of rules_go are you using?
0.33.0

### What version of Bazel are you using?
5.2.0

### Does this issue reproduce with the latest releases of all the above?
Yes

### What operating system and processor architecture are you using?
Ubuntu 22.04, amd64

### What did you do?
in `MODULE.bazel`, added `bazel_dep(name = "rules_go", version = "0.33.0")`
then added `load("@rules_go//proto:d

[2022-08-11 08:20] loeffel-io commented on #3230
reproducible with:

WORKSPACE:

[code]

BUILD.bazel

[code]

[2022-08-11 17:32] hxtk commented on #3230
In your example you reference two files: `//:nogo.json` and `//:repositories.bzl`; that do not appear to be included.

[2022-08-12 00:48] shirchen opened #3268 "Add a parameter to go_test to support a custom TestMain template"
We want to opt-in our monorepo into goroutine leak detection and we plan on using [uber-go/leak](https://github.com/uber-go/goleak). One option for us is to change template  to something like
[code]

But then we need to introduce goleak as a dependency to rules_go which may or may not be acceptable. One way we can think of making this optional is to allow us to pass in a custom template that we wi

[2022-08-12 05:09] stabai opened #3269 "Regression in v0.34.0 breaks go_image on M1 macs"
### What version of rules_go are you using?
v0.34.0

### What version of gazelle are you using?
v0.25.0

### What version of Bazel are you using?
Bazelisk version: v1.11.0
Build label: 5.2.0
Build target: bazel-out/darwin_arm64-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Tue Jun 7 16:11:09 2022 (1654618269)
Build timestamp: 1654618269
Build timestam

[2022-08-12 06:47] fmeum commented on #3269
Do you have a reproducer I can run on my Mac? The output with `--toolchain_resolution_debug=@bazel_tools//tools/cpp:toolchain_type` would be helpful. Also, which architecture/OS has your image?

The correct future solution for these kind of issues seems to be to make the C++ toolchain requirement optional. This is only possible on Bazel HEAD though.

[2022-08-12 15:16] stabai commented on #3269
I pulled out an old template project to use for a reproducer, and it's behaving a little differently. 😕 That project works with any version of rules_go.

However, in both repos, it will only ever work if my `go_image` has the following parameters set:

[code]

If those are omitted, I get the same error I mentioned above (in either repo, regardless of rules_go version):

*private main project:*
| `

[2022-08-12 20:02] mashail commented on #3202
thank you @JamesMBartlett we are looking for it

[2022-08-14 15:34] DrewMonroe opened #3270 "gopackagesdriver failing for go_binary"
### What version of rules_go are you using?

v0.34.0

### What version of gazelle are you using?

v0.24.0

### What version of Bazel are you using?

v 5.2.0

### Does this issue reproduce with the latest releases of all the above?

Yes

### What operating system and processor architecture are you using?

Arch linux, 5.18.16 kernel, x86_64

### Any other potentially useful information about your to

[2022-08-14 21:13] fmeum commented on #3270
I'm not too familiar with the code, but I don't see a reason why we wouldn't want to list `go_binary` there. @linzhp What do you think?

[2022-08-15 03:40] linzhp commented on #3270
yeah, that's reasonable. Can you send a pull request?

[2022-08-16 02:49] thefallentree commented on #3269
this is not really rules_go's issue, it is rules_docker 's issue

you can work around this by  upgrading to rules_docker latest then

`bazel build --@io_bazel_rules_docker//transitions:enable=false ...`  shuld work

and you can add this to .bazelrc file

[2022-08-16 03:13] DrewMonroe commented on #3270
Yup I'd be happy to. Thanks for the sanity check

[2022-08-16 08:26] mikberg commented on #2167
I'm seeing this issue when trying to use [github.com/uber/h3-go](https://github.com/uber/h3-go). Tests importing this library (or libraries which in turn imports it) fail with:

[code]

[2022-08-16 14:38] tadeboro commented on #3230
I can replicate the same issue in many of our repos. The only reliable way of making things work for me is to force-require latest stable x/tools. If I put

[code]

into my go.mod file and then update gazelle repos, things work as expected.

I would be lying if I would say that I know why this fixes isses (I am not really a go dev, just a poor infra/CI/CD engineer tasked with keeping CI pipelines

[2022-08-16 15:43] loeffel-io commented on #3230
works! 🚀

[2022-08-16 15:57] hxtk commented on #3230
Works for me as well. It is certainly the case that `nogo` uses `golang.org/x/tools`:

https://github.com/bazelbuild/rules_go/blob/efc3212592320c1ab7f986c9a7882770ee06ad3b/go/tools/builders/nogo_main.go#L41-L43

It gets declared here, using a recent enough version that our builds would work if we were using it:

https://github.com/bazelbuild/rules_go/blob/master/go/private/repositories.bzl#L64-L83

[2022-08-16 16:33] fmeum commented on #2612
I would welcome any PR that adds this feature and can offer guidance to anyone who would want to pick this up.

[2022-08-16 16:39] tadeboro commented on #3230
I also think this is the way to go. Just surfacing the information from the https://github.com/bazelbuild/rules_go/pull/3175 (the Updated dependencies section) would help a lot.

[2022-08-17 07:07] #3270 closed

[2022-08-18 18:57] dt opened #3273 "MismatchedPkgName with external test package and GOPACKAGESDRIVER"
### What version of rules_go are you using?

v0.34.0

### What version of gazelle are you using?

v0.26.0

### What version of Bazel are you using?

5.2.0

### Does this issue reproduce with the latest releases of all the above?

These are the latest.

### What operating system and processor architecture are you using?

macOS 12.5 Arm M1 Pro

### Any other potentially useful information about your

[2022-08-18 18:57] dt commented on #3273
This looks similar to #3015 but that appears to be closed, and the patcheset that closed it is included in v0.34.0 which is what I am using, and I gathered from that issue discussion that it may have been specific to transition targets, so I was unsure if I was seeing a separate issue here or not.

[2022-08-23 11:26] bpalermo opened #3275 "Conflicting package heights error"
### What version of rules_go are you using?
v0.29.0

### What version of gazelle are you using?

v0.24.0

### What version of Bazel are you using?

5.2.0

### Does this issue reproduce with the latest releases of all the above?
Yes

### What operating system and processor architecture are you using?
Linux

### Any other potentially useful information about your toolchain?

No

### What did you do?

[2022-08-23 17:24] jayconrod commented on #3275
"Conflicting package heights" indicates a problem with export data, which is type information for exported definitions in a package. It means that there are multiple versions of an indirect dependency (`github.com/grpc-ecosystem/grpc-gateway/v2/runtime`), and the compiler or linker is detecting a conflict.

Some things to try:

* Upgrade rules_go to the latest version.
* Upgrade Go to the latest v

[2022-08-24 01:38] jfirebaugh commented on #3218
We encountered this issue in the Figma monorepo.

For us, this is the primary issue, as building the stdlib causes Bazel to get OOM-killed on our CI executor, even with [`--local_{ram,cpu}_resources` configured appropriately](https://github.com/bazelbuild/bazel/issues/3886#issuecomment-1221189798). For some reason it seems to get built twice in parallel, once to `bazel-out/k8-opt-exec-2B5CBBC6` an

[2022-08-24 11:27] bpalermo commented on #3275
Upgraded `go`, `rules_go` and `gazelle`, but the issue is still happening.

When using bazel query I can see both dependencies:
[code]
I wonder if its due to the compiler `"@grpc_ecosystem_grpc_gateway//protoc-gen-grpc-gateway:go_gen_grpc_gateway"`
[code]

[2022-08-25 18:24] #3202 closed

[2022-08-27 10:03] hawkingrei commented on #3259
I meet it too.

[2022-08-27 18:16] jefersonla commented on #1588
Sorry for reopening this very old question, but is it possible to define pre and post-routines for the go_test rule?
I want to do something very similar to what @hawkingrei wants.

The idea is that I have some integration tests that require another application running in the background to work. Using one sh_binary I can start and stop this application, but now I want to do this without having to c

[2022-08-27 18:38] achew22 commented on #1588
I have to say that I agree with Jay's strategy here. Go has a notion of a [TestMain](https://pkg.go.dev/testing#hdr-Main) function where you can put arbitrary setup and tear down information. The best way to do this is probably to either run your script as a part of `TestMain` before invoking your tests, or to implement what the `sh_binary` would do in go and run that before invoking your tests.

[2022-08-27 18:38] #1588 closed

[2022-08-28 13:06] bpalermo commented on #3275
Fixed after bumping `rules_proto_grpc` to  4.2.0 and overriding `go_gen_grpc_gateway`:
[code]

[2022-08-28 13:06] #3275 closed

[2022-08-31 20:59] stabai opened #3277 "Proposal: Allow debugging `go_test` targets with Delve"
I ran a Go test and wanted to debug it. I expected to find a `--go_debug` flag as an analog to the [--java_debug](https://bazel.build/reference/command-line-reference#flag--java_debug) flag:

[code]

It would be great if this (or something like it) existed to run tests with Delve and wait for a debugger to be attached. It would provide a much less awkward mechanism for debugging Go code.

[2022-09-02 20:31] lromor opened #3278 "go_path, GOPATH and sandbox symlinks"
### What version of rules_go are you using?

0.32.0

### What version of gazelle are you using?

0.25.0

### What version of Bazel are you using?

5.3.0

### Does this issue reproduce with the latest releases of all the above?

Yes

### What operating system and processor architecture are you using?

amd64 linux

### Any other potentially useful information about your toolchain?

go_register_toolc

[2022-09-07 00:53] dt commented on #3273
This looks very similar to the closed issue https://github.com/bazelbuild/rules_go/issues/3015, but that was marked as fixed by @illicitonion and @linzhp in https://github.com/bazelbuild/rules_go/pull/3116, which is in v0.34.0, which is what I am using in my reproduction repo above, so maybe this one is distinct?

[2022-09-08 22:32] cyan0288 commented on #3259
Also running into this issue as well (for a Telco deployment project using carvel tools that imports this library), so an indirect dependency is causing this on my end.

[2022-09-09 00:42] hawkingrei commented on #3259
We add a [patch](https://github.com/pingcap/tidb/blob/master/build/patches/com_github_rivo_uniseg.patch) to this dependency. It can work.

[2022-09-09 01:01] cyan0288 commented on #3259
I encountered this issue earlier today, do you mean there's been a fix since then? That commit/patch looks to be from 8 days ago.

[2022-09-09 01:35] hawkingrei commented on #3259
It just changed the bazel build file for ```com_github_rivo_uniseg``` which generated by gazelle. The best fix method is to fix the behavior of the gazelle.

[2022-09-09 03:50] cyan0288 commented on #3259
Sorry I'm a bit confused. I'm still getting the same error that I pasted above that the BUILD file was not found in directory '' of external repository @com_github_rivo_uniseg. However, the patch you linked implies that BUILD file exists.

Could you help clear up my confusion? Thanks

[2022-09-09 18:00] #3265 closed

[2022-09-09 18:04] S-Chan opened #3284 "go_path: Support embedsrcs of generated files"
### What version of rules_go are you using?
v0.34.0

### What version of gazelle are you using?
v0.24.0

### What version of Bazel are you using?
Bazelisk version: development
Build label: 5.1.0
Build target: bazel-out/darwin-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Mar 24 14:10:21 2022 (1648131021)
Build timestamp: 1648131021
Build timestamp

[2022-09-09 18:04] S-Chan commented on #3284
This is an enhancement of https://github.com/bazelbuild/rules_go/issues/3162

[2022-09-10 14:28] #3086 closed

[2022-09-12 08:41] fmeum commented on #3265
Use rules_go 0.34.0 or later from the registry for `go_proto_library` support. `go_grpc_library` is a different story.

[2022-09-12 20:25] mivkov opened #3291 "nogo: unexpected expression-could not match index list to instantiation"
### What version of rules_go are you using?

`0.35.0`

### What version of gazelle are you using?

`0.26.0`

### What version of Bazel are you using?

`5.3.0`

### Does this issue reproduce with the latest releases of all the above?

Yes.

### What operating system and processor architecture are you using?

[code]

### Any other potentially useful information about your toolchain?

### What did yo

[2022-09-13 00:02] mivkov commented on #3291
Nevermind, I thought I ran `bazel sync`, but it didn't do what I wanted it to. The prior patch fixed this issue!

[2022-09-13 00:02] #3291 closed

[2022-09-13 23:38] ovidiupl opened #3292 "Order dependency design bug - Build failure with a gRPC + Go + Python project"
### What version of rules_go are you using?

`rules_go-v0.34.0`

### What version of gazelle are you using?

Unsure - whatever version is implied by `rules_go` v0.34.0, Go version `1.19.1` and the combination of protocol buffers and gRPC I tried to use. I'm including my `WORKSPACE` file in its entirety below.

### What version of Bazel are you using?

`5.3.0`

### Does this issue reproduce with th

[2022-09-13 23:47] ovidiupl commented on #3292
I also filed https://github.com/grpc/grpc/issues/30965 with `grpc/grpc`. I think both projects have their part in this situation - the Go Bazel rules should figure out a different strategy for toolchain version unification (or for multiple toolchain versions, whatever is more appropriate), and other Bazel rules that depend on Go internally should not choose on the `WORKSPACE` user's behalf.

[2022-09-14 06:38] fmeum commented on #3292
The principled solution for this mess is [Bzlmod](https://bazel.build/build/bzlmod). Given how stretched everyone is and how brittle `WORKSPACE` semantics are, I'm not sure whether we can substantially improve this situation. Incremental improvements of the `WORKSPACE` situation may still be possible and I'm happy to help with turning ideas into PRs.

[2022-09-14 14:29] meteorcloudy opened #3293 "rules_go tests failing with Bazel@HEAD"
First reported at https://github.com/bazelbuild/continuous-integration/issues/1429
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2632#01833a2a-4026-47c4-9730-89252449e823
[code]

`//tests/core/coverage:lcov_coverage_test` and `//tests/core/coverage:lcov_test_main_coverage_test` are broken by coverage_output_generator v2.6 introduced at https://github.com/bazelbuild/bazel/commit/

[2022-09-14 15:14] fmeum commented on #3293
This one is on us: We have been lazy about populating `InstrumentedFilesInfo` since it wasn't necessary until v2.6. Will fix that and look into `//tests/core/cross:non_executable_test` as well.

[2022-09-14 15:53] meteorcloudy commented on #3293
Thanks!
For `//tests/core/cross:non_executable_test`, we have figured it out, please check https://github.com/bazelbuild/continuous-integration/issues/1429#issuecomment-1246891945

[2022-09-14 15:58] #3293 closed

[2022-09-14 16:11] ovidiupl commented on #3292
Thank you for the prompt answer! I'll try Bzlmod first. If that doesn't work out, maybe we can find a solution that's not too terrible for `WORKSPACE` rules. (I understand the constraints of the space, so it won't be pretty...)

[2022-09-14 16:14] fmeum commented on #3292
Just keep in mind that Bzlmod and even more so the rules_go module are experimental. If you find bugs, I will happily fix them though.

[2022-09-15 11:45] graywolf-at-work opened #3295 "0.35.0 breaks `version = "host"`"
### What version of rules_go are you using?

v0.35.0

### What version of gazelle are you using?

None

### What version of Bazel are you using?

5.3.0

### Does this issue reproduce with the latest releases of all the above?

Yes.

### What operating system and processor architecture are you using?

Linux, amd64

### Any other potentially useful information about your toolchain?

No.

### What di

[2022-09-15 11:56] fmeum commented on #3295
Could you provide details on how you installed your host Go toolchain? I would have expected official distributions to come with a `VERSION` file.

[2022-09-15 12:50] fmeum commented on #3295
@graywolf-at-work Thanks for the info, I can reproduce this. Could you check whether https://github.com/bazelbuild/rules_go/pull/3296 fixes this for you?

I also lightly edited your comment so that the file list is hidden by default - it takes a while to scroll past when navigating this issue.

[2022-09-15 13:19] fmeum commented on #3295
If applying the patch locally or depending on a fork works for you, that would definitely be the easiest solution unless we hear of more breakages this is causing. There is another issue that may lead to a follow-up release and I would prefer not to have too many.

[2022-09-15 14:21] #3295 closed

[2022-09-15 21:07] rickystewart opened #3298 "test stderr is only in test.log, not test.xml"
I'm not sure if this is the desired behavior, but it is pretty surprising: only `stdout` output from the test binary is in the `test.xml` produced by `rules_go`. The `stderr` is ONLY in `test.log` (which also contains the `test.xml` `stdout` output). For us at `cockroach` we parse `test.xml` to get test results, and it's often the case that the `test.xml` says there's a failure but contains no rel

[2022-09-15 21:43] fmeum commented on #3298
Your reasoning and the fix seem valid.

@jayconrod @achew22 Do you remember whether there is/was a reason for this behavior?

[2022-09-16 08:46] achew22 commented on #3298
I think this is a normal development oversight and would welcome the patch. Thanks @rickystewart!

[2022-09-16 12:34] wtgtybhertgeghgtwtg opened #3299 "Consider exposing a `gopackagesdriver.sh` instead of having the user create one."
### What version of rules_go are you using?
`v0.35.0`.

### What version of gazelle are you using?
N/A

### What version of Bazel are you using?
`5.3.0`.

### Does this issue reproduce with the latest releases of all the above?
Yes.

### What operating system and processor architecture are you using?
N/A

### Any other potentially useful information about your toolchain?
N/A

### What did you do?

[2022-09-16 13:09] aschlosberg commented on #3110
In case it helps others, I found that it only worked when adding the local strategy into my VS settings:

[code]

[2022-09-16 13:43] achew22 commented on #3299
This also presents a bootstrapping problem. If you were to clone a repo fresh you wouldn't be able to refer to the rules_go's gopackagesdriver.sh until fetching rules_go, which you can't do without invoking go to build it which would try to invoke rules_go's gopackagesdriver.sh...

Does anyone have any ideas on ways we could break that cycle?

[2022-09-16 15:21] rickystewart commented on #3298
I'll file the PR now, thanks everyone.

[2022-09-16 15:48] #3298 closed

[2022-09-19 21:25] ovidiupl commented on #3292
I made very limited progress with Bzlmod. I'll continue pursuing this path, though it might be an easier sell when it's officially launched.

Due to schedule pressure, I solved this in a "peak innovation" kind of way: I ended up creating 3 `WORKSPACE` files, in a pretty intuitive configuration:

1. The first one for the protocol buffers shared between the client and the server. Only has `proto_lib

[2022-09-20 03:37] ash2k opened #3302 "Support host SDK in toolchain:sdk_version command-line flag"
### What version of rules_go are you using?

v0.35.0

### What version of gazelle are you using?

v0.27.0

### What version of Bazel are you using?

5.3.0

### Does this issue reproduce with the latest releases of all the above?

Yes.

### What operating system and processor architecture are you using?

macOS M1

### Any other potentially useful information about your toolchain?

I want to use a p

[2022-09-20 06:05] fmeum commented on #3302
This could be achieved relatively easily by adding a `config_value` for `host_sdk` (or `host`, to avoid duplicating `sdk`) [here](https://github.com/bazelbuild/rules_go/blob/4d4a2454c588dab27853ccffb03fcb9205001192/go/private/BUILD.sdk.bazel#L100) conditionally if the [_sdk_build_file](https://github.com/bazelbuild/rules_go/blob/4d4a2454c588dab27853ccffb03fcb9205001192/go/private/sdk.bzl#L234) fun

[2022-09-20 08:58] ash2k commented on #3302
I'll open a PR. Thanks for the instructions!

[2022-09-21 17:26] pwaterz commented on #2981
Can anyone shed light on what the actual issue is?   https://github.com/googleapis/google-cloud-go/pull/6266 appears to move a dependency to an internal folder. Why does that fix this? Asking because I am now running into a similar problem with a unrelated library now.

[2022-09-22 01:19] dev344 commented on #2927
Following @jordan-bonecutter's advice I upgraded from 3.13 to 3.14 and that fixed it for me.

Before

[code]

After

[code]

[2022-09-22 07:53] sessfeld commented on #2981
We had the same issue at one point. The issue is basically version drift between the `go_googleapis` workspace, and the `google.golang.org/genproto/googleapis` module. When a target uses both as a dependency, for the protobufs Gazelle prefers to resolve to `go_googleapis`, but that may or may not contain code that would be in `google.golang.org/genproto/googleapis`.

When something like this comes

[2022-09-23 16:59] PaperbagLife opened #3304 "go_binary does not build on windows: cgo.exe: exit status 2"
### What version of rules_go are you using?
I have tried v0.30.0, v0.33.0 and v0.35.0

### What version of gazelle are you using?
v0.25.0

### What version of Bazel are you using?

bazel 5.2.0

### Does this issue reproduce with the latest releases of all the above?
Not sure, but I will need to use v0.33.0 for rules_go at the latest. v0.34.0 breaks some dependencies. Dont think changing gazelle an

[2022-09-24 00:02] jfirebaugh opened #3305 "Cross-compiling should use the appropriate SDK's stdlib rather than rebuilding it"
Currently cross-compiles via `--platforms` or `go_cross_binary` result in rebuilding the stdlib from scratch, which is [slow and expensive](https://github.com/bazelbuild/rules_go/issues/2188).

Instead, cross compiles should use the prebuilt stdlib from the appropriate SDK. I'm not familiar with the details, but perhaps the functionality introduced in https://github.com/bazelbuild/rules_go/pull/32

[2022-09-24 00:42] aryeh-looker opened #3306 "How to replace `go install ... && ./go/bin/tool` with bazel"
Example without bazel:

[code]

[2022-09-24 00:44] aryeh-looker commented on #3306
e.g. be able to do `bazel run @com_github_fullstorydev_grpcui//cmd/grpcui:grpcui` or something like that

[2022-09-24 00:57] jfirebaugh commented on #3305
I tested cross-compiling via `go_cross_binary` as well. It also builds the stdlib.

[2022-09-24 03:07] sluongng commented on #3305
https://github.com/bazelbuild/rules_go/pull/3242 could give some context.

Short: we re-compile go stdlib for different combinations of config value: cgo/pure, arch, os etc...  We cannot use a Windows stdlib for a linux compilation.

[2022-09-24 07:12] fmeum commented on #3306
That is generally expected to work. Which version of rules_go and Gazelle are you using? If you can prepare a small reproducer, I can investigate this further.

[2022-09-24 11:25] fmeum commented on #3305
As @sluongng has noted, there are valid cases for rebuilding the stdlib.

That said, there are also wasteful recompilations, for example when cross-compiling for two different platforms targets with identical constraints using `go_cross_binary`. I'm working on a more principled fix for such issues in core Bazel and will introduce experimental support in rules_go once these experiments have landed

[2022-09-26 16:27] jfirebaugh commented on #3305
Right, but vanilla cross-compiles without pure or race, where the target platform is one of the ones with a supported SDK, could use the prebuild stdlib, right?

Also, I suspect the SDKs include prebuilt stdlib with race support, because non-Bazel race builds don't require building a stdlib (https://github.com/bazelbuild/rules_go/issues/3218#issuecomment-1225071032, https://github.com/bazelbuild/r

[2022-09-27 12:25] sluongng commented on #3305
I don't think this is true. If you use `go build -x .` vs `go build -x -race .` (on a non-cached machine), it should show recompilation of std packages. It's should be even clearer if you switch to cross-compile to a different platform (Linux -> Windows).

The different between non-Bazel builds is that stdlib are compiled per package instead as a whole. So if you only use `fmt`, here would be the

[2022-09-27 23:31] jfirebaugh commented on #3305
I'm not sure exactly what I'm looking for, but I don't think I see this. I also just downloaded the latest darwin-amd64 release off https://go.dev/dl/ and verified that it contains a `pkg/darwin_amd64_race` directory containing `.a` files for all stdlib packages.

[2022-09-28 03:03] matiasinsaurralde commented on #3208
I'm getting the same message and I'm unsure about how to fix it, not using `bindata` at all.

[2022-09-28 04:33] achew22 commented on #3208
Sorry this isn't more clear. We're trying to advise people to use the go [embed](https://pkg.go.dev/embed)] package.

[2022-09-28 07:04] lopopolo commented on #3208
I am currently using `go_embed_data` to embed the output of a bazel target into a go binary. How would I replicate that with go:embed? I would love to have some examples on how to replace `go_embed_data` with go:embed included in the docs.

[2022-09-28 14:33] #3302 closed

[2022-09-28 17:04] apex-edison-moreland commented on #3088
Just piling on here, I'm running into the same problem and haven't been able to find a workaround

[2022-09-28 21:49] jfirebaugh commented on #3305
I guess https://github.com/golang/go/issues/47257 will make this moot, and instead we need to focus on making stdlib rebuilds with Bazel more efficient.

The issues we run into are:

* `@io_bazel_rules_go//go/config:race` invalidates the cache: https://github.com/bazelbuild/rules_go/issues/3218
* Unless you are using `--remote_download_minimal`/`toplevel`, Bazel uses an excessive amount of memory

[2022-09-29 04:32] achew22 commented on #3208
If you use the golang `embed` package the "normal" way. There are *lots* of tutorial on how to do that right now. Gazelle will generate all the appropriate BUILD file entries and everything should just work. If you get stuck, maybe you can comment in here with some more context on what's the hangup

[2022-09-29 05:16] lopopolo commented on #3208
I have a `BUILD.bazel` file that looks like the following. I am using `go_embed_data` to embed the output of the `esbuild` rule in the binary.

[code]

If I add this `//go:embed` directive:

[code]

Then Gazelle adds the sources that exist in the package that match the glob:

[code]

However I am looking to embed the `:main.bundle` target. This is the part that I am struggling with. What magic do

[2022-09-29 10:08] achew22 commented on #3208
Here is a link to a working test case that uses embed to access generated files.

https://github.com/bazelbuild/rules_go/blob/3e0fcc4f47ed6a63b19aea036b05aed03a7e0b1e/tests/core/go_library/embedsrcs_test.go#L31-L32

You could even directly embed it into a `[]byte` and maintain the same interface. To do this you would end up embedding the name of the generated output file in your go. Something like

[2022-09-29 18:46] lopopolo commented on #3208
Thanks @achew22! That pointed me in the right direction. The non-obvious thing is that Gazelle didn't automatically pick up the generated dependencies and I had to manually pass them into `embedsrcs`. This is the diff that got me working:

[code]

[2022-09-29 18:47] lopopolo commented on #3208
I'm still not sure how I'd make an embedFS of `*` _without_ Gazelle adding all of the files in the package, but enumerating all of the files works well enough for me.

[2022-09-29 19:01] lopopolo commented on #3208
This does not behave as I expected. The resulting `embed.FS` only contains `robots.txt`:

[code]

With this build rule:

[code]

Where the `//logo/favicons:assets` target is defined like:

[code]

[2022-09-29 19:36] lopopolo commented on #3208
Ok thanks for letting me think out loud here. I've hacked around this by adding go packages to `//logo/favicons` and `//logo/optimized` and moving some files around so I can do:

[code]

[2022-09-30 01:24] achew22 commented on #3208
That's exactly the way I've addressed this in the past. Good job figuring that out!

[2022-09-30 15:22] pwaterz opened #3308 "missing strict dependencies for https://github.com/DataDog/sketches-go"
### What version of rules_go are you using?
v0.35.0

### What version of gazelle are you using?
v0.27.0

### What version of Bazel are you using?
5.3.1

### Does this issue reproduce with the latest releases of all the above?
Yes. I am running all the latest versions.

### What operating system and processor architecture are you using?
Ubuntu 22.04 x86 64

### Any other potentially useful informat

[2022-10-03 15:39] pwaterz commented on #2981
Thank you! I was able to resolve an issue with another repo using this method.

[2022-10-03 17:43] mori-nobuteru opened #3310 "The C compiler cannot be changed"
### What version of rules_go are you using?
v0.35.0

### What version of gazelle are you using?
N/A

### What version of Bazel are you using?
5.3.1

### Does this issue reproduce with the latest releases of all the above?
Yes

### What operating system and processor architecture are you using?
MacOS 11.6.8 x86_64

### Any other potentially useful information about your toolchain?
No

### What did

[2022-10-03 18:11] fmeum commented on #3310
You should be able to set `CC` and then run `bazel sync --configure`. Could you check whether that works?

[2022-10-05 14:58] rickystewart commented on #3298
So I've found one problem with this: rarely, the `stdout` and `stderr` will get interleaved such that some `stderr` content will end up "in the middle of" a line of stdout, which can interfere with parsing and result in `No pass/skip/failed event for test`.

Consider this output from https://github.com/cockroachdb/cockroach/issues/88048:

[code]

Notice how the content of the line `--- PASS: TestW

[2022-10-05 20:02] adam-azarchs opened #3312 "Build breakage with --incompatible_disallow_empty_glob and local SDK"
### What version of rules_go are you using?

0.35.0

### What version of gazelle are you using?

0.24.0

### What version of Bazel are you using?

5.3.1

### Does this issue reproduce with the latest releases of all the above?

Yes.

### What operating system and processor architecture are you using?

Linux / x86-64

### Any other potentially useful information about your toolchain?

n/a

### What

[2022-10-05 21:47] #3312 closed

[2022-10-07 23:24] garymm opened #3315 "linker warnings on macOS XCode 14: `ld: warning: -undefined dynamic_lookup may not work with chained fixups`"
Note I reported a similar issue for `cc_library` [here](https://github.com/bazelbuild/bazel/issues/16413).

If we apply the same fix, then it would just be to remove this line:
https://github.com/bazelbuild/rules_go/blob/d517cd9bec43f0541b421315fe633cdd0f204270/go/tools/builders/cgo2.go#L215

### What version of rules_go are you using?

v0.34.0

### What version of gazelle are you using?

v0.26.0

[2022-10-10 15:50] chrislovecnm opened #3316 "Source code for new tutorial"
Hi all

We wrote a new rules_go tutorial under the purview of the Bazel Rules sig.   The tutorial is located on the bazel rules GitHub pages site.  Along with that tutorial, we have source code that needs a home.  Talking with @alexeagle, we were wondering if we could include the tutorial source code in this repo.

Here is the source code:

https://github.com/bazel-contrib/Bazel-learning-paths/pul

[2022-10-10 16:02] chrislovecnm commented on #3316
@fmeum what is the full directory path that we want?  I will need to update both the source code and the tutorial.

`rules_go/examples/tutorial` - how about that?

[2022-10-10 16:04] fmeum commented on #3316
That sounds reasonable, we might want to add other `examples` in the future that aren't linked to the tutorial.

Where is the tutorial itself hosted? Would it make sense to also host it in the `rules_go` repo so that tutorial and accompanying code are easier to keep in sync?

[2022-10-10 16:28] chrislovecnm commented on #3316
@fmeum, the tutorial is here: https://bazel-contrib.github.io/SIG-rules-authors/go-tutorial.html - and eventually, we are trying to figure out how to move it to https://bazel.build/start/.

I wish it were easier to keep the tutorial and source code in sync, but we want the tutorial hosted on a website, and for now, the bazel-contrib gh-pages is our best option.

[2022-10-12 09:55] Malinskiy commented on #2808
I've faced this issue twice in the last couple of weeks, would be nice to provide better error messaging even if it's just a hint along the lines of
[code]

[2022-10-12 10:19] fmeum commented on #2808
If anyone wants to get started on a PR based on https://github.com/bazelbuild/rules_go/issues/2808#issuecomment-776793381, I can provide support.

[2022-10-13 15:51] chrislovecnm opened #3318 "CI/CD setup for examples"
We are missing the CD/CI setup for the examples with MacOS.  I figured out how to do it for ubuntu, but I do not know how to set this line:

https://github.com/bazelbuild/rules_go/blob/d517cd9bec43f0541b421315fe633cdd0f204270/.bazelci/presubmit.yml#L28

For MacOSX

[2022-10-13 16:04] fmeum commented on #3318
The value should be `macos`: If `platform` isn't given explicitly, it defaults to the name of the job.

[2022-10-13 18:38] chrislovecnm commented on #3318
@fmeum, can we get the first PR merged, and then I will loop back on this?

[2022-10-17 17:44] dk185217 commented on #1844
Not sure if this will still be useful to you but...

I was having a similar issue. I built a binary with bazel, exec'ed it with dlv, but was unable to stop at breakpoints in vscode. I believe it is solved with `substitutePath`, although im not sure why.

First, I build and exec dlv with something like:

[code]

For that, you need bazel 5.3-ish, for the --output=files cquery option

Then, I start d

[2022-10-18 05:00] aw185176 opened #3325 "Unrecognized build option errors when trying to use @io_bazel_rules_go//go/config:strip"
### What version of rules_go are you using?

0.35.0

### What version of gazelle are you using?

0.26.0

### What version of Bazel are you using?

5.3.1

### Does this issue reproduce with the latest releases of all the above?

Yes

### What operating system and processor architecture are you using?

Linux x86-64

### Any other potentially useful information about your toolchain?

### What did you

[2022-10-18 07:36] fmeum commented on #3325
It's a `bool_setting` rather than a `bool_flag`, which explains the error. As to why it is I'm not sure.

@jayconrod I think this line hasn't changed since the switch to transitions. Could you explain the choice of not exposing this setting to users?

[2022-10-18 12:31] aw185176 commented on #3325
Based on the wording in the docs, I would guess that it is probably an oversight: https://github.com/bazelbuild/rules_go/blob/master/go/modes.rst#build-settings

[2022-10-19 21:23] michaelarusso opened #3326 "gopackagesdriver includes non-Go files as GoFiles and CompiledGoFiles"
### What version of rules_go are you using?

0.34.0

### What version of gazelle are you using?

0.26.0

### What version of Bazel are you using?

5.3.2

### Does this issue reproduce with the latest releases of all the above?

n/a

### What operating system and processor architecture are you using?

macOS Monterey / M1

### Any other potentially useful information about your toolchain?

n/a

###

[2022-10-19 22:37] fmeum commented on #3326
Thanks for the report, that does indeed look incorrect.

The logic that collects these files lives in https://github.com/bazelbuild/rules_go/blob/223e03fbbc74c5cfb3821d7db5aafa759555abad/go/tools/gopackagesdriver/aspect.bzl#L53.

@michaelarusso Given that you seem to have everything set up to test this locally, would you be interested in playing with these filters to make them work and submit a PR

[2022-10-19 22:47] michaelarusso commented on #3326
@fmeum Yeah I can take a first attempt at fixing this. Thanks for the pointer of where the logic is.

[2022-10-20 21:31] #3326 closed

[2022-10-21 20:08] srosenberg commented on #3088
Adding `gc_goopts = ["-d=libfuzzer"]` to your `go_test` rule ensures (edge) coverage is generated during compilation and subsequently used during fuzzing [1],

[code]

[code]

[1] https://github.com/golang/go/blob/master/src/internal/fuzz/counters_supported.go#L15

[2022-10-24 09:19] zakcutner opened #3331 "Go version not correctly recongised"
### What version of rules_go are you using?

997520fc8d75fddc0ee51cec62833e748bb06000

When detecting the version of Go, rules_go expects the format to be of the form `go version go1.18.3 linux/amd64` in [`sdk.bzl`](https://github.com/bazelbuild/rules_go/blob/997520fc8d75fddc0ee51cec62833e748bb06000/go/private/sdk.bzl#L320). It then checks the third word of this output to determine the version.

H

[2022-10-24 10:12] fmeum commented on #3331
@zakcutner Do you think we could instead always check the second-to-last field? That would simplify the logic.

[2022-10-24 10:29] zakcutner commented on #3331
@fmeum That would make sense to me 👍

[2022-10-24 10:30] fmeum commented on #3331
Do you want to contribute the small fix? The relevant line is:
https://github.com/bazelbuild/rules_go/blob/997520fc8d75fddc0ee51cec62833e748bb06000/go/private/sdk.bzl#L322

[2022-10-24 10:54] zakcutner commented on #3331
Thanks! I'll open a PR shortly

[2022-10-25 16:57] zakcutner commented on #3331
Actually, on closer inspection it seems that reading the second last argument is not necessarily safe (see https://github.com/golang/go/issues/51876 for an example output). I'll update my PR with my previous idea, but let me know if you'd prefer something else

[2022-10-26 17:24] #3331 closed

[2022-10-28 18:52] ian-h-chamberlain opened #3334 "Gopackagesdriver: tell language server to fall back when bazel query fails"
### What version of rules_go are you using?

0.35.0

### What version of gazelle are you using?

N/A

### What version of Bazel are you using?

[code]

### Does this issue reproduce with the latest releases of all the above?

Yes

### What operating system and processor architecture are you using?

macOS 12.6, x86_64

### Any other potentially useful information about your toolchain?

Using GOPACK

[2022-10-28 19:06] aschlosberg commented on #2004
For anyone stumbling across this and wanting to try the `go_path` approach that @jayconrod suggested, it does work however it requires explicit inclusion of deps (perhaps a `genquery` might get around this, but I'm not sure).

Assuming th root `BUILD.bazel` includes:
[code]

Run:
`bazel build //:godoc_root && bazel run @org_golang_x_tools//cmd/godoc:godoc -- --goroot="$(bazel info bazel-bin)/godoc

[2022-10-30 08:01] fmeum commented on #3334
That sounds very reasonable. Given that you already have a PoC, do you want to turn it into a PR?

[2022-10-31 02:56] mahiuchun opened #3335 "Fails to match host Go toolchain on linux/ppc64"
### What version of rules_go are you using?

Git master

### What version of gazelle are you using?

None

### What version of Bazel are you using?

5.3.2

### Does this issue reproduce with the latest releases of all the above?

Yes?

### What operating system and processor architecture are you using?

linux/ppc64

### Any other potentially useful information about your toolchain?

Go 1.19.2 tool

[2022-10-31 06:16] fmeum commented on #3335
Could you run with `'--toolchain_resolution_debug=.*'` and post the log messages here?

[2022-10-31 06:19] #3335 closed

[2022-10-31 14:19] ian-h-chamberlain commented on #3334
@fmeum sure, opened #3338 with what I think is a simple fix, although it's possible I'm missing some edge cases there

[2022-10-31 16:27] #3334 closed

[2022-11-01 03:56] matts1 opened #3339 "bazel.FindBinary fails when the working directory is the workspace root."
### What version of rules_go are you using?
0.34.0

### What version of gazelle are you using?

0.27.0

### What version of Bazel are you using?

6.0.0-pre.20221012.2

### Does this issue reproduce with the latest releases of all the above?

Yes

### What operating system and processor architecture are you using?

Linux, x86-64

### Any other potentially useful information about your toolchain?

N

[2022-11-01 08:54] fmeum commented on #3339
The rules_go-provided runfiles functionality is, as you noticed, semi-broken. I would recommend using https://github.com/phst/runfiles instead until we have finished upstreaming it, which is tracked by https://github.com/bazelbuild/rules_go/issues/3036.

Please reopen if you run into issues with this library in your situation.

[2022-11-01 08:54] #3339 closed

[2022-11-06 15:20] #3054 closed

[2022-11-06 19:01] #3036 closed

[2022-11-06 19:01] #2359 closed

[2022-11-06 19:01] #2422 closed

[2022-11-06 19:01] #2423 closed

[2022-11-08 00:57] tingilee opened #3343 "--combined_report=lcov not working"
### What version of rules_go are you using?

v0.35

### What version of gazelle are you using?

https://github.com/bazelbuild/bazel-gazelle/archive/6d3fa1c9c7617d52c4a93f280685cde7a8206b07.zip

### What version of Bazel are you using?

Build label: 6.0.0-pre.20220922.1

### Does this issue reproduce with the latest releases of all the above?

### What operating system and processor architecture ar

[2022-11-08 01:02] tingilee commented on #3343
Go coverage is broken when `--combined_report=lcov` is supplied in external testing:
1. go_test has a go_library in the embed attribute
2. go_library needs to provide coverage_common.instrumented_files_info so [getInstrumentedFiles in Bazel ](https://github.com/bazelbuild/bazel/blob/021008dc4d2be974c583eb4ed32bc5221452d1e8/src/main/java/com/google/devtools/build/lib/analysis/test/InstrumentedFiles

[2022-11-08 01:34] tingilee commented on #3343
Actually, I've just found https://github.com/bazelbuild/rules_go/pull/3294 is the fix not yet released.
I've created a PR https://github.com/bazelbuild/rules_go/pull/3344 to add tests.

[2022-11-08 03:04] gonzojive commented on #2981
Does anyone else find this error message could be more explicit about the suggested corrections and diagnostic commands?

[code]

1. I wonder if it could be populated with code that could be copy pasted into the WORKSPACE file with the suggested importmap modifications
2. What bazel cquery command is being suggested? I hardly ever use bazel cquery, and this sends me on a quest for the proper incan

[2022-11-10 18:04] alecholmez commented on #2002
I'm seeing an issue similar to this:
https://app.bountysource.com/issues/93267094-cgo-fails-when-cgo_ldflags-too-large

[2022-11-14 19:23] #3343 closed

[2022-11-14 23:29] ramenjosh opened #3349 "Circular dependencies when including mocks generated by `gomock` in `go_library`"
### What version of rules_go are you using?

`0.34.0`

### What version of gazelle are you using?

`0.26.0`

### What version of Bazel are you using?

`5.1.1`

### Does this issue reproduce with the latest releases of all the above?

Yes

### What operating system and processor architecture are you using?

MacOS x86_64

### Any other potentially useful information about your toolchain?

N/A

### W

[2022-11-14 23:39] fmeum commented on #3349
@linzhp I have also wondered about why `gomock` depends on a library before. Is it really just for the import path?

[2022-11-15 19:15] kevinchen-verkada opened #3352 "`go/tools/bazel` gives `(rule 'stdlib') doesn't contain declared provider 'GoStdLib'`"
### What version of rules_go are you using?

0.35

### What version of gazelle are you using?

0.27.0

### What version of Bazel are you using?

6.0.0-pre.20220922.1

### Does this issue reproduce with the latest releases of all the above?

yes

### What operating system and processor architecture are you using?

Macos, M1 chip

### Any other potentially useful information about your toolchain?

N

[2022-11-16 01:33] kevinchen-verkada commented on #3352
I should have used `"@io_bazel_rules_go//go/tools/bazel:go_default_library"` instead of `"@com_github_bazelbuild_rules_go//go/tools/bazel:go_default_library"` as the dep in my build target

[2022-11-16 01:33] #3352 closed

[2022-11-16 08:30] DolceTriade commented on #2513
I'm interested in picking this up: I put together a PoC here: https://github.com/bazelbuild/rules_go/pull/3351

I took the suggestion in https://github.com/bazelbuild/rules_go/issues/2513#issuecomment-709419541 and tried to apply it. `_all` but called it `_default`. Hopefully we can start a conversation around such an approach.

[2022-11-16 12:32] linzhp commented on #3349
Yeah. It was designed that way so the reflective mode and source mode can share the same argument.

[2022-11-16 14:41] tokongs commented on #3178
I'm struggling with the same problem. Did you find a solution to this @mancusi ?

[2022-11-18 02:37] #2402 closed

[2022-11-20 21:34] SegFaultx64 commented on #3208
Hi @lopopolo what do you mean by this? Do you have a working example of doing this?

[2022-11-22 21:02] kylekurz opened #3357 "Build error after including Bleve"
### What version of rules_go are you using?

0.35.0

### What version of gazelle are you using?

0.28.0

### What version of Bazel are you using?

5.3.2

### Does this issue reproduce with the latest releases of all the above?

Yes

### What operating system and processor architecture are you using?

macOS Arm64 and also Ubuntu x86

### Any other potentially useful information about your toolchain

[2022-11-24 00:57] Cartman75 opened #3361 "Rules_docker is broken with release of 36"
### What version of rules_go are you using?

0.36.0

### What version of gazelle are you using?

Not Defined.

### What version of Bazel are you using?

5.3.2

### Does this issue reproduce with the latest releases of all the above?

yes

### What operating system and processor architecture are you using?

Debian bullseye

### Any other potentially useful information about your toolchain?

### Wha

[2022-11-24 01:03] fmeum commented on #3361
@Cartman75 bazel-gazelle stopped using that rules_go-internal method in https://github.com/bazelbuild/bazel-gazelle/commit/3e83644bd8b1ed373d322b898cf7c05927b39201#diff-c1403c382e16f440e9d5e59ebc70a6beb7f68f5ccefbcb5dd73e5cb9352e85a0, which is contained in the last five releases. rules_docker depends on a very old version of bazel-gazelle, so adding a more recent version of bazel-gazelle to your `

[2022-11-24 01:40] Cartman75 commented on #3361
You are right, adding gazelle fixed. it. Thanks!

[2022-11-24 08:03] #3361 closed

[2022-11-24 16:15] #3196 closed

[2022-11-24 17:09] jmhodges commented on #3349
I think this is a change from when gomock was a separate project. When I moved to using the contrib one, I've had to add a `self_package` parameter for the library. Def seems like a bug

[2022-11-24 17:37] #3168 closed

[2022-11-24 17:57] #3284 closed

[2022-11-24 22:49] mostynb opened #3364 "mirror.bazel.build link for rules_go-v0.36.0.zip is 404"
### What version of rules_go are you using?

v0.36.0

### What did you do?

I added the WORKSPACE snippet from https://github.com/bazelbuild/rules_go/releases/tag/v0.36.0 to my repository.

### What did you expect to see?

No warnings during the build.

### What did you see instead?

WARNING: Download from https://mirror.bazel.build/github.com/bazelbuild/rules_go/releases/download/v0.36.0/rules_go

[2022-11-24 22:51] fmeum commented on #3364
We are waiting for https://github.com/bazelbuild/bazel/issues/16833 to be acted on. I expect that to happen early next week.

[2022-11-26 08:03] lopopolo commented on #3208
@SegFaultx64 I was previously attempting to embed images via a `filegroup` from workspace packages `//logo/favicons` and `//logo/optimized` into a go source file in `//tools/serve`. I couldn't get this to work. Instead, I added tiny `go_library` targets to the  `//logo/favicons` and `//logo/optimized` packages that a `go:embed` of the now package-local files and then added these new `go_library` t

[2022-11-26 21:44] #3017 closed

[2022-11-27 00:36] jmhodges opened #3365 "Editor wiki page references non-existent vscode-go "references" setting"
The [Editor wiki page](https://github.com/bazelbuild/rules_go/wiki/Editor-setup) references a "references" setting inside `go.enableCodeLens`, but that setting [only supports the `runtest` boolean inside it](https://github.com/golang/vscode-go/blob/master/docs/settings.md#goenablecodelens).

(I'd fix this myself, but, of course, I don't have write privileges to the wiki!)

[2022-11-27 21:04] achew22 commented on #3365
I think I've changed the setting to allow editing of the wiki by people in the community. Fortunately it appears to be version controlled, so this might go badly, but in the meantime feel free to modify to your hearts content!

[2022-11-27 21:06] achew22 commented on #3365
I'd love it if you'd try making the change in the wiki to confirm that it is possible and close this issue if it is. If not, I'll make the change on Tuesday and look at the settings agian.

Thanks @jmhodges

[2022-11-27 21:37] jmhodges commented on #3365
Works! Thank you!

[2022-11-27 21:37] #3365 closed

[2022-11-28 08:07] mostynb commented on #3364
Looks like this is working now.

[2022-11-28 08:07] #3364 closed

[2022-11-28 14:15] kylekurz commented on #3357
I believe this issue lies entirely within the Bleve repository, I'm going to close this one and keep the other one running.

[2022-11-28 14:15] #3357 closed

[2022-11-29 21:22] chrislovecnm commented on #3318
Closing this as I fixed it in #3317

[2022-11-29 21:22] #3318 closed

[2022-11-30 05:00] derekperkins commented on #3305
Any progress here?

[2022-11-30 07:25] fmeum commented on #3305
I recently learned that starting with Go 1.20, the SDKs will no longer ship any precompiled stdlibs. Instead of adding more reliance on them, we should thus try to migrate away from them as soon as possible and instead improve on the current pain points.

I am trying to get some flags flipped for Bazel 6.0.0 that would allow us to drastically reduce the number of times the stdlib is rebuilt (for `

[2022-11-30 07:27] fmeum commented on #3218
Bazel now has an API for adding resource requirements to actions. It is still experimental, but we could optionally use it for stdlib actions.

I am working on fixing the issue that the stdlib is rebuilt more often than necessary, but that may also require flags.